@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#0b0f1a] overflow-x-hidden m-0 p-0;
}

/* إخفاء السكرول بار لشكل أنظف */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0b0f1a;
}
::-webkit-scrollbar-thumb {
  background: #161b2b;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2563eb;
}